@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Aquí abajo dejamos tus estilos por si acaso, pero Tailwind manda --- */

:root {
  font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif; /* Agregué Nunito aquí también */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* El resto lo puedes dejar o borrar, Tailwind se encargará del diseño principal */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}